* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*This styles the header section*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/*This styles the navigation menu*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*This styles the main image on the website. It is a background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*This styles the content class of the sections under the header image*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*This is the horizontal rectangular block that houses and styles the box class for the three sections */
.box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*This styles the images within the boxes in each section*/
.box img {
    max-height: 200px;
}
/*This styles h2, the text/copy within the box class*/
.box h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*This positions the images within the boxes in each section*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*This is the vertical rectangular block that houses and styles the sidebar section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*This styles the sidebar headings under the header image*/
.sidebar {
    margin-bottom: 32px;
    color: #ffffff;
}
/*This styles and positions the images within the sidebar section*/
.sidebar img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*This styles h3, the text/copy within the sidebar class under the images*/
.sidebar h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*This styles the footer section*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*This styles h2, the text/copy within the footer class*/
.footer h2 {
    font-size: 20px;
}